n8n-examples/simple-text-message.json
{
  "name": "YesApp - Simple Text Message",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sessionId",
              "value": "YOUR_SESSION_ID_HERE"
            },
            {
              "name": "phoneNumber",
              "value": "+33612345678"
            },
            {
              "name": "message",
              "value": "Bonjour depuis n8n! 🚀"
            },
            {
              "name": "apiKey",
              "value": "b55c6b026c40893309c4a4058cdb6bbdaff2e5b1c49315bbf297f4b360242043"
            }
          ]
        }
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [440, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/api/v1/sessions/{{$json.sessionId}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$json.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\"to\": \"{{$json.phoneNumber}}\", \"text\": \"{{$json.message}}\"}"
      },
      "id": "send-message",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [640, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
